@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*{
    font-family: 'Kumbh Sans', sans-serif;
}

.active{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #1E1F36;
}

.text{
    width: 350px;
    min-height: 36px;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4C5F;    
    border-bottom: 1px solid #E8E8EA;
    transition: 0.2s ease;
}
.text:hover{
    color:#F47B56 ;
}